<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/trunk/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>Fast Order - Config:</title>

        <input-field type="text">
            <name>textField</name>
            <label>Enter - Comment:</label>
            <placeholder>Enter your comment here</placeholder>
        </input-field>
    </card>

</config>
