$green-blue-color: #008692;
$lightgrey: #798490;

div.main-fast-order {
    padding: 10px 50px;


    .next-to-eachother {
        display: flex;
        align-items: center;
    }
    
    p {
        margin: 0;
    }
    svg {
        height: 30px;
        width: 30px;
    }
    
    .change-import {
        gap: 20px;
        margin-bottom: 50px;


        .next-to-eachother {
            border-bottom: 2px solid #79849080;
            padding-bottom: 3px;
            cursor: pointer;
        }
        .next-to-eachother:hover,
        .next-to-eachother.active {
            border-color: $green-blue-color;
        }
    }

    .table-header {
        margin-top: 50px;
        font-size: 1.1rem;
        font-weight: bolder;


        .div-search-articles,
        .div-enter-quantity {
            border-bottom: 1px solid $lightgrey;
            padding-bottom: 2px;
            margin-bottom: 5px;
        }
    }
    
    .row-fast-order {
        display: flex;
        gap: 50px;
        margin-bottom: 5px;
        align-items: center;
    }

    .row-fast-order.show-price {
        display: none;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .row-fast-order.show-price.show {
        display: flex;
    }
    
    .div-search-articles {
        flex-grow: 1;
    }
    .div-enter-quantity {
        min-width: 100px;
    }
    
    div.search-articles-results {
        display: none;
    
        position: absolute;
        background: white;
        
        overflow: auto;
        max-height: 450px;
    
        border: 1px solid $lightgrey;
        border-top: 0;

        padding-top: 3px;


        p {
            margin: 0;
        }

        div.result-item {
            padding: 10px;    
            display: flex;
            gap: 10px;


            p.price {
                margin: 5px 0;
            }

            img {
                min-height: 80px;
                max-height: 80px;
                min-width: 80px;
                max-width: 80px;
                border: 1px solid $lightgrey;
                border-radius: 5px;
                box-shadow: 0 0 1px $lightgrey;
            }
        }

        div.result-item {
            border-top: 3px solid $lightgrey;
        } 

        div.result-item.active,
        div.result-item:hover {
            background: #636363;
            color: white;
            font-weight: bolder;
            cursor: pointer;
        }

        .container-free-shipping {
            display: flex;
            align-items: center;
            gap: 10px;

            .point {
                background: $green-blue-color;
                width: 10px;
                height: 10px;
                border-radius: 360px;
            }
        }
    }
    
    div.search-articles-results.show {
        display: block;
    }
    
    
    
    

    .form-control {
        border-radius: 5px;
    }

    #main-price {
        text-align: right;
    }

    .total-price {
        justify-content: flex-end;
        gap: 10px;
    }

    .main-prices,
    #total-price {
        font-weight: bolder;
        font-size: 1.1rem;
    }

    #submit-form:disabled,
    #submit-form[disabled=true],
    #submit-form[disabled] {
        opacity: 0.5;
        cursor: not-allowed
    }

    p.add-more-inputs {
        font-size: 30px;
        border: 2px solid;
        font-weight: bolder;
        border-radius: 20px;
        
        height: 40px;
        width: 40px;
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        cursor: pointer;
    }
    p.add-more-inputs:hover {
        background: $lightgrey;
        color: white;
    }
    
    button {
        background: $green-blue-color;
        border: 0;
        padding: 10px 15px;
        border-radius: 3px;
        color: white;
        font-weight: bolder;
        margin-top: 10px;
    }
    button:hover {
        opacity: 0.5;
    }

    input#csvFileInput {
        display: none;
    }

    .note {
        margin: 20px 0;
    }

    red {
        color: red;
        font-weight: bolder;
    }
}

